* {
    box-sizing: border-box;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
    
}
    .col-9 li {
        padding: 8px;
        margin-bottom: 7px;
        background-color: black;
        color: #ffffff;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        line-height: 20px;
        width: 500px;
        border-radius: 6px 6px 6px 6px;
        margin-bottom: 25px;
        height: auto;
    }

        .col-9 li:hover {
            background-color: #282828;
            color: #ffffff;
        }





.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

html {
    font-family: "Lucida Sans", sans-serif;
}

.header {
    background-color: black;
    
    color: #ffffff;
    padding: 15px;
}

.menu ul {
    list-style-image: url('~/Content/Images/userPhoto/jonah.jpg');
    list-style-type: none;
    margin: 0;
    padding: 0;
    

}

img {
    border: 5px solid black;
}

.menu li {
    padding: 8px;
    margin-bottom: 7px;
    color: white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    margin: 1em 0;
    
}

/*.menu li:hover {
        color: #ffffff;
        background-color: black;
        
    }*/

img {
    border: 5px solid black;
    box-shadow: 1px 1px 20px 5px #89cff0;
}

/* Headers*/
h1 {
    font-family: monospace;
    margin: 0 0 0 95px;
}

h2 {
    font-family: monospace;
    text-shadow: 2px 20px 8px white;
}

#user_name {
    border-radius: 25px;
    border: 2px solid black;
    padding: 10px;
    min-width: 10px;
    width: 40%;
    padding: 8px;
    align-items: center;
    justify-content: center;
}

#user_post {
    left: 100px;
    text-align: left;
    padding: 0.4em 0.4em 0.4em 0;
    border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 20px;
    width: 400px;
    height: 150px;
    border-color: black;
    
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #d3d3d3;
    opacity: 1; /* Firefox */
}