<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="en" class="ie6 ielt8"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="ie7 ielt8"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="ie8"> <![endif]-->
<!-- https://docs.microsoft.com/en-us/aspnet/web-pages/overview/getting-started/introducing-aspnet-web-pages-2/entering-data <!-->

<html lang="en">
<!--<![endif]-->
<head>
    <title>Home Page</title>
</head>

<div>
    <hr />
    <h1>User info</h1>
    <label>Name: </label> @ViewBag.Message.FirstName

</div>

<body>
   
</body>
</html>