<!DOCTYPE html>

<html lang="en">
<!--<![endif]-->
<head>

    <title>Profile Page</title>
</head>
<body>
    <div>
        <h1>Profile Page</h1>
        <h1>User info</h1>
        <label>First Name: </label> @ViewBag.FirstName
        <br />
        <label>Last Name: </label> @ViewBag.LastName


    </div><!-- container -->

</body>

</html>
