<!DOCTYPE html>

<html lang="en">
<head>
    <title>Profile Page</title> <!--The <title> tag is required in all HTML documents and it defines the title of the document.-->
    <link type="text/css" rel="stylesheet" href="~/Content/Profile.css" />
</head>
<body>
    <div class="header">
        <h1>Yourspace</h1>
    </div>
    
    <div class="row">
        <div class="col-3 menu">
            <ul>
                <li><img src="~/Content/Images/userPhoto/jonah.jpg" alt="Smiley face" height="200" width="263"></li>
                <li><label>First Name: </label> @ViewBag.FirstName</li>
                <li><label>Last Name: </label> @ViewBag.LastName</li>
                <li>Biograpy</li>
            </ul>
        </div>

        <div class="col-9">
            <h1>"Your Name"</h1>
            <p>"Your bio"</p>
            
            <ul>
                <li>Post1</li>
                <li>Post2</li>
                <li>Post3</li>
            </ul>
        </div>
    </div>
</body>

</html>


