<!DOCTYPE html>

<html lang="en">
<head>
    <title>Profile Page</title> <!--The <title> tag is required in all HTML documents and it defines the title of the document.-->
    <link type="text/css" rel="stylesheet" href="~/Content/Profile.css" />
</head>
<body>
    <div class="header">
        <h1>Yourspace</h1>
    </div>
    
    <div class="row">
        <div class="col-3 menu">
            <ul>
                
                <img src="~/Content/Images/userPhoto/jonah.jpg" alt="Smiley face" height="200" width="263">
                <br />
                <li><font color="black"><label>Biography: </label> @ViewBag.Bio
                    <p>Senior Software Engineer from LB State, go Sharks!
                    </p>   
                 </font></li>
            </ul>
        </div>

        <div class="col-9">
            <h1>@ViewBag.FirstName @ViewBag.LastName</h1>
            <form action="/action_page.php">
                <input type="text" id="user_post" placeholder="Tell the world what's good!"/>
                
            </form>
            <br />
           
            <ul>
                <li>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Vivamus fringilla feugiat velit. Fusce facilisis vel sem et semper.
                    Donec tempus tortor sed ultricies mollis. In hac habitasse
                    platea dictumst. Phasellus sit amet risus in ligula imperdiet
                    tincidunt ut in diam. Mauris vehiculapellentesque ipsum, vel 
                    rhoncus ipsum interdum sed.
                </li>
                <li>Proin arcu sem, suscipit quis justo vel, feugiat luctus dolor. 
                Donec suscipit nibh eu arcu pretium euismod. Nullam sit amet feugiat velit. 
                Quisque hendrerit felis nisi, eget vulputate sem semper id. 
                Etiam iaculis leo quis neque sodales tempor. Sed malesuada orci vitae augue 
                iaculis, et egestas ipsum posuere.</li>
                <li>Ut at mollis lorem, ac placerat elit. Nullam ligula massa, luctus nec 
                convallis nec, feugiat nec ligula. Pellentesque id augue mauris. In 
                molestie, erat egestas sodales lobortis, diam neque bibendum augue, vel 
                hendrerit urna augue sed mauris. Proin maximus mi quis metus ultrices, 
                quis iaculis tortor posuere.</li>
            </ul>
        </div>
    </div>
</body>

</html>


