<!DOCTYPE html>

<html lang="en">
<head>
    <title>Profile Page</title> <!--The <title> tag is required in all HTML documents and it defines the title of the document.-->
    <link type="text/css" rel="stylesheet" href="~/Content/Profile.css" />
</head>
<body>
    <div class="header">
        <h1>Chania</h1>
    </div>

    <div class="row">
        <div class="col-3 menu">
            <ul>
                <li>The Flight</li>
                <li>The City</li>
                <li>The Island</li>
                <li>The Food</li>
            </ul>
        </div>

        <div class="col-9">
            <h1>The City</h1>
            <p>Chania is the capital of the Chania region on the island of Crete. The city can be divided in two parts, the old town and the modern city.</p>
            <p>Resize the browser window to see how the content respond to the resizing.</p>
        </div>
    </div>
    <div>
        <h1>Profile Page</h1>
        <h1>User info</h1>
        <label>First Name: </label> @ViewBag.FirstName
        <br />
        <label>Last Name: </label> @ViewBag.LastName
    </div><!-- container -->

</body>

</html>


