<!DOCTYPE html>

<html lang="en">
<head>
    <title>Profile Page</title> <!--The <title> tag is required in all HTML documents and it defines the title of the document.-->
    <link type="text/css" rel="stylesheet" href="~/Content/Profile.css" />
</head>
<body>
    <div class="header">
        <h1>Yourspace</h1>
    </div>
    
    <div class="row">
        <div class="col-3 menu">
            <ul>
                
                <img src="~/Content/Images/userPhoto/jonah.jpg" alt="Smiley face" height="200" width="263">
                <br />
                <li><font color="black"><label>Biography: </label> @ViewBag.Bio Senior Software Engineer from LB State, survived several squirrel attacks on campus, go Sharks!</font></li>
            </ul>
        </div>

        <div class="col-9">
            <h1>@ViewBag.FirstName @ViewBag.LastName</h1>
            <div style="width:850px;height:100px;border:1px solid #000;">~Insert make a post here~</div>
            

            <ul>
                <li>Post1</li>
                <li>Post2</li>
                <li>Post3</li>
            </ul>
        </div>
    </div>
</body>

</html>


