<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="en" class="ie6 ielt8"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="ie7 ielt8"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="ie8"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
 <!--<![endif]-->
<head>

    <title>Sign Up to YourSpace!</title>
</head>
<body>
    <div class="container">
        <section id="content">
            <form action="">
                <h2>Signup Form</h2>

                <label for="fname">username:</label><br>
                <input type="text" id="username" name="username"><br>
                <label for="lname">password:</label><br>
                <input type="text" id="password" name="password">
            </form>

        </section><!-- content -->
    </div><!-- container -->
</body>
</html>


