@{
    var firstName = "";
    var lastName = "";

    if (IsPost)
    {
        firstName = Request.Form["firstName"];
        lastName = Request.Form["lastName"];

        var db = Database.Open();
        var insertCommand = "INSERT INTO ";

    }
}



<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="en" class="ie6 ielt8"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="ie7 ielt8"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="ie8"> <![endif]-->
<!-- https://docs.microsoft.com/en-us/aspnet/web-pages/overview/getting-started/introducing-aspnet-web-pages-2/entering-data> <!-->

<html lang="en">
<!--<![endif]-->
<head>
    <style>
        h2 {
            color: black;
            margin: 5px;
            text-align: center;
        }
    </style>
    <title>Sign Up Page</title>
</head>
<body>
    <div class="container">
        <section id="content">
            <form method="post">
                <h2>Sign Up to YourSpace!</h2>
                <label for="firstName">First Name:</label><br>
                <input type="text" id="firstName" name="firstName" required><br>
                <label for="lastName">Last Name:</label><br>
                <input type="text" id="lastName" name="lastName" required><br>
                <br />
                <input type="submit" value="Register" />

            </form>

        </section><!-- content -->
    </div><!-- container -->
</body>
</html>