<style>
    h1{
        font-family:Asimov
    }
    .upload-btn-wrapper {
        position: relative;
        overflow: hidden;
        display: inline-block;
    }

    .btn {
        color: #494949 !important;
        text-transform: uppercase;
        text-decoration: none;
        background: #ffffff;
        padding: 10px;
        border: 4px solid #494949 !important;
        display: inline-block;
    }

    .btn:hover{
        cursor:pointer;
    }

    .upload-btn-wrapper input[type=file] {
        font-size: 100px;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
    }
</style>
<div>
    @using (Html.BeginForm("uploadPicture", "SignUp", FormMethod.Post))
    {
        <hr />
        <div>
            <h1>Upload a picture of yourself!</h1>
        </div>

        <div class="upload-btn-wrapper">
            <button class="btn">Upload a file</button>
            <input type="file" name="fileUpload" onchange="readURL(this)" required />
        </div>
        <button class="btn">next</button>
        <hr />
        <img class="img-thumbnail" id="upImg" alt="nothing" />
    }
</div>
@section Scripts{
    <script src="~/Scripts/UploadData.js"></script>
    }
