<head>
<link href="@Url.Content("~/Content/base.css")" rel="stylesheet" type="text/css" />
</head>
<div>
    @using (Html.BeginForm("checkPicture", "SignUp", FormMethod.Post))
    {
        <hr />
        <div>
            <h1>Upload a picture of yourself!</h1>
        </div>

        <div class="upload-btn-wrapper">
            <button class="btn">Upload a file</button>
            <input type="file" name="fileUpload" onchange="readURL(this)" required />
        </div>
        <button class="btn">next</button>
        <hr />
        <img class="img-thumbnail" id="upImg" alt="nothing" />
    }
</div>
@section Scripts{
    <script src="~/Scripts/UploadData.js"></script>
}
