@model yourspace.Models.UserAccount

@{
    ViewBag.Title = "Add";
}

<head>
    <link href="@Url.Content("~/Content/base.css")" rel="stylesheet" type="text/css" />
</head>

@using (Html.BeginForm("Add", "SignUp", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <div>
            <p>

            </p>
            <h2>Upload Your Profile Picture!</h2>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PhotoPath, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <label for="file">Filename:</label>
                <input type="file" name="PhotoFile">
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 cold-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}










<!--
<div class="upload-btn-wrapper">
    <input type='file' onchange="readURL(this);" />
    <img id="upImg" src="http://placehold.it/180" alt="your image" />
    <button class="btn">Upload a file</button>
    <button class="btn">Webcam</button>
    <button class="btn">next</button>
</div>
-->
<!-- <div class="form-horizontal">
        <hr />
        <div class="form-group">
                <form id="form1" runat="server" method="post" enctype="multipart/form-data">
                    <input type='file' id="imgInp" style="display:none" />
                    <img id="blah" style="border-radius:50%" src="http://via.placeholder.com/150x150" alt="your image" height="300px" width="300px" />
                </form>
                <input class="btn btn-default" type="submit" value="Upload" />
            @ViewBag.Message

        </div>

    </div> -->




@section Scripts{
    <script src="~/Scripts/uploadData.js"></script>
}
